*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
#header{
    width: 100%;
    height: 46px;
    background-color: black;
    

}
#nav >li {
display: inline-block;
}
#nav >li:hover >a, #nav .subnav li:hover{
    background-color: #ccc;
    color: #000;
}
#nav >li> a{
    color: white;
    text-transform: uppercase;
}
#nav li a{
    text-decoration: none;
    line-height: 46px;
   
    padding: 0px 24px;
    display: inline-block;
    
}
#nav li {
    list-style-type: no ne;
  position: relative;
  
  
}
#nav .subnav a{
    color: black;
    padding: 0 12px;
    line-height:38px ;    
    
}
#nav li:hover .subnav{
    display: block;
}

#nav .subnav{
    min-width: 160px;
    display: none;
    background-color: white;
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    top : 100%;
    left: 0;
}

#slider{
    min-height: 500px;
    background-color:#000;
}